#j1{
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/10/05/61/19100561_42312996_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: aliceblue;
    

}
#j1:hover{
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/10/05/61/19100561_42315391_600.jpg');
    background-size: cover;

}
#j2{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/09/66/14/19096614_42303148_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j2:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/19/09/66/14/19096614_42303145_600.jpg');
    background-size: cover;
    

}
#j3{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/18/74/40/63/18744063_42276872_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j3:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/18/74/40/63/18744063_42277209_600.jpg');
    background-size: cover;

}
#j4{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/09/20/24/19092024_42265522_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j4:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/19/09/20/24/19092024_42267395_600.jpg');
    background-size: cover;

}
#j5{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/18/58/26/18/18582618_40852464_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
    
}
#j5:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/18/58/26/18/18582618_40851734_600.jpg');
    background-size: cover;
    

}
#j6{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/13/15/01/28/13150128_30475816_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j6:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/13/15/01/28/13150128_30476901_600.jpg');
    background-size: cover;
    

}#j7{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/14/57/76/98/14577698_29297010_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j7:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/14/57/76/98/14577698_29298043_600.jpg');
    background-size: cover;
    

}#j8{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/17/60/96/70/17609670_37668600_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j8:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/17/60/96/70/17609670_37667581_600.jpg');
    background-size: cover;
    

}
