#j1{
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/10/05/61/19100561_42312996_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: aliceblue;
    

}
#j1:hover{
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/10/05/61/19100561_42315391_600.jpg');
    background-size: cover;

}
#j2{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/09/66/14/19096614_42303148_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j2:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/19/09/66/14/19096614_42303145_600.jpg');
    background-size: cover;
    

}
#j3{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/18/74/40/63/18744063_42276872_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j3:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/18/74/40/63/18744063_42277209_600.jpg');
    background-size: cover;

}
#j4{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/09/20/24/19092024_42265522_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j4:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/19/09/20/24/19092024_42267395_600.jpg');
    background-size: cover;

}
#j5{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/18/58/26/18/18582618_40852464_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
    
}
#j5:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/18/58/26/18/18582618_40851734_600.jpg');
    background-size: cover;
    

}
#j6{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/13/15/01/28/13150128_30475816_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j6:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/13/15/01/28/13150128_30476901_600.jpg');
    background-size: cover;
    

}#j7{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/14/57/76/98/14577698_29297010_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j7:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/14/57/76/98/14577698_29298043_600.jpg');
    background-size: cover;
    

}#j8{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/17/60/96/70/17609670_37668600_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#j8:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/17/60/96/70/17609670_37667581_600.jpg');
    background-size: cover;
    

}
#m1{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/27/83/98/19278398_42357243_600.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#m1:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/19/27/83/98/19278398_42356206_1000.jpg');
    background-size: cover;
    

}
#m2{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/01/45/56/19014556_41510652_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#m2:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/19/01/45/56/19014556_41511096_1000.jpg');
    background-size: cover;
    

}
#m3{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/27/19/35/19271935_42320708_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#m3:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/19/27/19/35/19271935_42320702_1000.jpg');
    background-size: cover;
    

}
#m4{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/13/76/97/19137697_42269836_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#m4:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/19/13/76/97/19137697_42268853_1000.jpg');
    background-size: cover;
    

}
#m5{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/18/34/30/11/18343011_42222448_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#m5:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/18/34/30/11/18343011_42222449_1000.jpg');
    background-size: cover;
    

}
#m6{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/18/58/17/19185817_42152229_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#m6:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/19/18/58/17/19185817_42152228_1000.jpg');
    background-size: cover;
    

}
#m7{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/17/99/37/26/17993726_38415070_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#m7:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/17/99/37/26/17993726_38414610_1000.jpg');
    background-size: cover;
    

}
#m8{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/18/71/54/50/18715450_40598030_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#m8:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/18/71/54/50/18715450_40597619_1000.jpg');
    background-size: cover;
    

}

#k1{
    
   
    
    background-image: url('https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/4043648/data/1854da13b97d9f9f2ee33e04602b1ad0/1x1_three-columns/480/data.jpeg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}

#k2{
    
   
    
    background-image: url('https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/4043640/data/22d5f8bbd60b17a2ddef26af592c9a3e/1x1_three-columns/480/data.jpeg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#k3{
    
   
    
    background-image: url('https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/4043768/data/55f23536573b21f0ab1e473bd417696f/1x1_three-columns/480/data.jpeg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}

#k4{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/18/41/03/01/18410301_40368330_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#k4:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/18/41/03/01/18410301_40367543_1000.jpg');
    background-size: cover;
    

}
#k5{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/19/13/50/49/19135049_42372000_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#k5:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/19/13/50/49/19135049_42330337_1000.jpg');
    background-size: cover;
    

}
#k6{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/18/33/95/51/18339551_42218297_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#k6:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/18/33/95/51/18339551_42217921_1000.jpg');
    background-size: cover;
    

}
#k7{
    
   
    
    background-image: url('https://cdn-images.farfetch-contents.com/18/53/67/78/18536778_42252488_1000.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
#k7:hover{
    background-image: url('https://cdn-images.farfetch-contents.com/18/53/67/78/18536778_42209803_1000.jpg');
    background-size: cover;
    

}
