.navigate{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 1100px;
    height: 90px;
    /* border: 1px solid red; */
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-weight: bold;
    background-color: #FFFFFF;
    
    
    
    
}
.terms{
    font-size: small;
    /* margin-left: 20px; */
    color:black
}
.scroll{
    scroll-behavior:smooth;
    /* border: 1px solid blue; */
}
/* .navigate>Link:nth-child(1){
    margin-right: 100px;
    color: black;
    text-decoration: none;
    
} */

.a{
    width:1px;
    text-decoration: none;
    margin-right: -150px;
    color:#222222

}
.main{
    display: flex;
    flex-direction: row;
    gap: 200px;
    

}
.main>div+div{
    display: flex;
    justify-content:space-evenly;
    /* border:1px solid red; */
    width:400px;
    margin-top: 20px;

    
}
.hover{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
.subhover{
    display: flex;
    justify-content: space-between;

    
    

}
.forgot{
    text-decoration: none;
    
    margin-left:20px;
    color: ;
    
}