.App {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
 
}
/* .App{
  width: 200px;
  border-radius: 50px;
  background-image: url(	https://cdn-images.farfetch-contents.com/19/09/66/11/19096611_42310167_600.jpg);
  background-size: 200px;
 
  
}
.App:hover{
  width: 200px;
  border-radius: 50px;
  background-image: url(https://cdn-images.farfetch-contents.com/19/09/66/11/19096611_42309498_600.jpg);
  background-size: 200px;

} */



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
